.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(157, 224, 153);
  position: relative;
}
.start {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  position: absolute;
  border: 3px solid #000;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
  outline: none;
  color: #000;
}

.start:hover {
  border: 3px solid #fff;
  background: #000;
  color: #fff;
}

.game-over {
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  font-size: 4rem;
  margin-bottom: 18rem;
  color: #fff;
  text-shadow: -3px -3px 0 #000, 0 -3px 0 #000, 3px -3px 0 #000, 3px 0 0 #000,
    3px 3px 0 #000, 0 3px 0 #000, -3px 3px 0 #000, -3px 0 0 #000;
}

.points {
  font-family: 'Press Start 2P', cursive;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.finished-game {
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  top: 8rem;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  text-shadow: -3px -3px 0 #fff, 0 -3px 0 #fff, 3px -3px 0 #fff, 3px 0 0 #fff,
    3px 3px 0 #fff, 0 3px 0 #fff, -3px 3px 0 #fff, -3px 0 0 #fff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
